@import "~bootstrap/scss/bootstrap";

.breadcrumb-item+.breadcrumb-item::before { content: ">" !important; }

html,
body,
.principal-container-style{
  background-color: #ededed;
  width: 100vw;
  min-height: 100vh;
  
  .nav-bar{
    background-color: #fef159;
    min-width: 100vh;
  }

  .logo{
    margin-right: 30px;
  }
  .search-button{
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
    border-color: gainsboro;
    background-color: gainsboro;
  }

  .breadcrumb-style{
    margin-top: 10px;
  }
}

